{
 :paths   ["src"]
 :deps    {
           com.cleancoders.c3kit/apron {:git/url "git@github.com:cleancoders/c3kit-apron.git" :git/sha "d6eac05a52e118d9f840efab7fb151b44f7f386c"}
           garden/garden               {:mvn/version "1.3.10"}
           org.clojure/clojure         {:mvn/version "1.11.1"}
           org.clojure/tools.namespace {:mvn/version "1.3.0"}
           }
 :aliases {
           :test {:extra-deps    {
                                  org.clojure/clojurescript {:mvn/version "1.11.60"}
                                  speclj/speclj             {:mvn/version "3.4.1"}
                                  }
                  :override-deps {com.cleancoders.c3kit/apron {:local/root "../apron"}}
                  :extra-paths   ["resources" "spec"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           :cljs {:main-opts ["-m" "c3kit.scaffold.cljs"]}
           :css  {:main-opts ["-m" "c3kit.scaffold.css"]}
           }
 }
