{:paths   ["src"]
 :deps    {com.cleancoders.c3kit/apron         {:mvn/version "2.5.0"
                                                :exclusions  [com.fasterxml.jackson.core/jackson-core]}
           io.github.brandoncorrea/garden      {:mvn/version "1.9.0"
                                                :exclusions  [org.codehaus.plexus/plexus-utils]}
           com.microsoft.playwright/playwright {:mvn/version "1.58.0"}
           org.clojure/clojure                 {:mvn/version "1.12.4"}
           org.clojure/tools.namespace         {:mvn/version "1.5.1"}
           ;; Pinned to patch transitive CVEs (see clj-watson):
           ;; jackson-core CVE-2025-52999 via apron->transit; plexus-utils CVE-2025-67030 via garden
           com.fasterxml.jackson.core/jackson-core {:mvn/version "2.22.1"}
           org.codehaus.plexus/plexus-utils        {:mvn/version "4.0.3"}}
 :aliases {:test  {:extra-deps  {clj-commons/pomegranate       {:mvn/version "1.2.25"}
                                 io.github.clojure/tools.build {:mvn/version "0.10.12"}
                                 org.clojure/clojurescript     {:mvn/version "1.12.134"}
                                 speclj/speclj                 {:mvn/version "3.12.0"}}
                   ;:override-deps {com.cleancoders.c3kit/apron {:local/root "../apron"}}
                   :extra-paths ["dev" "spec"]
                   :jvm-opts    ["-Dclojure.main.report=stderr"]}
           :spec  {:main-opts ["-m" "speclj.main" "-c"]}
           :clj-watson {:replace-deps {io.github.clj-holmes/clj-watson {:git/tag "v6.1.0"
                                                                        :git/sha "be98e4db74fb8927db4825cc73bbe2606e44e5e3"}}
                        :main-opts    ["-m" "clj-watson.cli"]}
           :cljs  {:main-opts ["-m" "c3kit.scaffold.cljs"]}
           :css   {:main-opts ["-m" "c3kit.scaffold.css"]}
           :antq  {:deps      {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
                   :main-opts ["-m" "antq.core"]}
           :build {:extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.12"}
                                 clj-commons/pomegranate       {:mvn/version "1.2.25"}}
                   :ns-default  build
                   :extra-paths ["dev"]}}}
