{
 :paths   ["src"]
 :deps    {
           com.cleancoders.c3kit/apron {:git/url "https://github.com/cleancoders/c3kit-apron.git" :git/sha "e0057d079d4d7b8f3e061d8be2f28c6379036cdd"}
           garden/garden               {:mvn/version "1.3.10"}
           org.clojure/clojure         {:mvn/version "1.11.1"}
           org.clojure/tools.namespace {:mvn/version "1.3.0"}
           }
 :aliases {
           :test {:extra-deps    {
                                  org.clojure/clojurescript {:mvn/version "1.11.60"}
                                  speclj/speclj             {:mvn/version "3.4.3"}
                                  }
                  :override-deps {com.cleancoders.c3kit/apron {:local/root "../apron"}}
                  :extra-paths   ["resources" "spec"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           :cljs {:main-opts ["-m" "c3kit.scaffold.cljs"]}
           :css  {:main-opts ["-m" "c3kit.scaffold.css"]}
           }
 }
