{
 :source-dir      "spec/c3kit/scaffold/css"                 ;; location of garden clj code
 :var             c3kit.scaffold.css.sample/screen          ;; the root var that holds all the garden to compile
 :on-css-compiled c3kit.scaffold.css.sample/on-css-compiled ;; a fn to call upon compilation
 :output-dir      "target/css"
 :output-file     "target/css/c3kit_scaffold.css"           ;; where you want the css to go
 :flags           {
                   :pretty-print? true                      ;; make the css pretty?
                   :vendors       ["webkit" "moz" "o"]      ;; target browsers for css extensions
                   }
 }
